body {
    background-image: url("spikes.png");
    font-family: 'Courier New', Courier, monospace;
    max-width: 900px;
    margin: auto;
}

header {
    margin: 35px 0;
    font-size: 20px;
}

h1, nav {
    background-color: white;
    color: darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    text-align: right;
    word-spacing: 10px;
}

div {
    max-width: 200px;
    padding: 50px 0;
    font-size: 20px;
}