body {
    background-image: url("spikes.png");
    font-family: 'Courier New', Courier, monospace;
    max-width: 900px;
    margin: auto;
}

img {
    float: left;
}

main, section.aboutme, section.content {
    background-color: aliceblue;
    display: block;
    max-width: 500px;
    margin: auto;
    color: black;
    font-family: 'Courier New', Courier, monospace
}

header {
    margin: 35px 0;
    font-size: 20px;
}

h1, nav {
    background-color: white;
    color: darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
}

nav {
    text-align: right;
    word-spacing: 10px;
    font-size: 20px;
}

aside {
    background-color: aliceblue;
    color: black;
    max-width: 400px;
    padding: 50px 0;
    font-size: 15px;
    float: right;
    display: block;
}

footer {
    text-align: center;
    margin: auto;
    padding: 50px 0 50px;
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
}